__pycache__/
.env
.venv
pip-wheel-metadata/

.vscode/
.ipynb_checkpoints/

logs/
outputs/
results/
runs/

weights/
checkpoints/
*.pt

data/
UA-DETRAC
UA-DETRAC/DETRAC-Images/
UA-DETRAC/DETRAC-MOT-toolkit/
UA-DETRAC/DETRAC-Test-Annotations-XML/
UA-DETRAC/DETRAC-Train-Annotations-XML/

*.csv
*.json
*.pkl
*.npy
*.npz

*.mp4
*.avi
*.mov
*.mkv
*.jpg
*.jpeg
*.png

tmp/
temp/
.cache/